$mainColor: rgb(48, 48, 48);
$backgroundColor: rgb(38, 38, 38);
$mainColorLight: grey;
$secondaryColor: rgb(19, 200, 255);
$textColor: rgb(169, 126, 7);
$textColor2: white;

.text-zone {
  color: $textColor;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}
.Contact-Form {
  width: 100%;
  margin-top: 20px;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 10px;
    overflow: hidden;
    display: block;
    position: relative;
    opacity: 1;
    clear: both;
  }
  li.half {
    width: 49%;
    margin-left: 2%;
    float: left;
    clear: none;

    &:first-child {
      margin-left: 0;
    }
  }
  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: $mainColor;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 2% 20px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: $mainColor;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: $textColor;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid $textColor;
    float: left;
    border-radius: 4px;
  }
  .flat-button:hover {
    color: $textColor2;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid $textColor2;
    float: left;
    border-radius: 4px;
    border-color: $secondaryColor;
    color: $textColor2;
    text-shadow: 0 0 0.25em hsl(0 0% 100% / 5), 0 0 0.45em $secondaryColor;

    box-shadow: inset 0 0 0.5em 0 $secondaryColor, 0 0 0.5em 0 $secondaryColor;
  }
}

.Socials {
  background-color: $backgroundColor;
  color: $backgroundColor;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}

a.btn.btn-primary {
  float: right;
  color: $textColor;
  background-color: $backgroundColor !important;
  border-color: transparent !important;
  font-size: 50px !important;
}
a.btn.btn-primary:hover {
  color: $textColor2;
}
