$mainColor: rgb(48, 48, 48);
$backgroundColor: #262626;
$mainColorLight: grey;
$secondaryColor: rgb(19, 200, 255);
$textColor: rgb(169, 126, 7);
$textColor2: white;
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&family=Trocchi&family=Vesper+Libre&display=swap");

div.text-zone-home-page {
  .Name {
    position: relative;
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    margin-top: 0%;
    font-family: "Vesper Libre", serif;
  }
  .Job {
    position: relative;
    font-size: 32px;
    text-align: center;
    margin-top: -3.9%;
    font-family: "Vesper Libre", serif;
  }
}

text-zone {
  color: $textColor;
}
text-zone:hover {
  color: $textColor2;
}
span .animatedChars {
  color: $textColor;
}

span .animatedChars:hover {
  color: $textColor2;
}

iframe {
  position: relative;
  left: 20%;
  margin-top: 1.5%;
}
