@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --mainColor: rgb(48, 48, 48);
  --mainColorLight: grey;
  --secondaryColor: rgb(19, 200, 255);
  --textColor: rgb(169, 126, 7);
  --textColor2: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0rem;
  color: var(--textColor);
  text-decoration: none;
  border: rbga(0, 0, 0, 0) 0.125em solid;
  padding: 0.3em 1em;
  border-radius: 0.25em;
}

nav a:hover {
  border-color: var(--secondaryColor);
  color: var(--textColor2);
  text-shadow: 0 0 0.25em hsl(0 0% 100% / 5), 0 0 0.45em var(--secondaryColor);

  box-shadow: inset 0 0 0.5em 0 var(--secondaryColor),
    0 0 0.5em 0 var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

b1 {
  font-size: 2rem;
  align-items: center;
  display: inline;
  float: right;
}

body {
  overflow: hidden;
  background-color: rgb(38, 38, 38);
}

/*
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --mainColor: rgb(48, 48, 48);
  --mainColorLight: grey;
  --secondaryColor: rgb(19, 200, 255);
  --textColor: rgb(169, 126, 7);
  --textColor2: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  cursor: pointer;
  font-size: 2rem;
  margin: 0 0rem;
  color: var(--textColor);
  text-decoration: none;
  border: rbga(0, 0, 0, 0) .125em solid;
  padding: .3em 1em;
  border-radius: .25em;
}

nav a:hover {
  border-color: var(--secondaryColor);
  color: var(--textColor2);
  text-shadow:
    0 0 .25em hsl(0 0% 100% / 5),
    0 0 .45em var(--secondaryColor);

  box-shadow: inset 0 0 .5em 0 var(--secondaryColor), 0 0 .5em 0 var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }
}

b1 {
  font-size: 2rem;
  align-items: center;
  display: inline;
  float: right;
}

body {
  overflow: hidden;
  background-color: rgb(38, 38, 38);
}
*/
